<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ybinhdu_xinyiliao_comp304sec001_lab4_ex1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YBinhDu_XinYiLiao_COMP304Sec001_Lab4_Ex1">
        <activity android:name=".ViewTestActivity"></activity>
        <activity android:name=".UpdateApplicantActivity" />
        <activity android:name=".DisplayApplicantActivity" />
        <activity android:name=".NewTestActivity" />
        <activity android:name=".ViewAllApplicantsActivity" />
        <activity android:name=".NewApplicantActivity" />
        <activity android:name=".NavigationActivity" />
        <activity android:name=".LoginActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>